<h1>Create New Cocktail</h1>
<form [formGroup]="cocktailForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Name</span>
    </div>
    <input type="text" formControlName="name" class="form-control" placeholder="Cocktail name">
    <small
      *ngIf="fieldHasError('name', 'required')"
      class="form-text invalid-form-text"
    >
      Enter cocktail name!
    </small>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Image Url</span>
    </div>
    <input type="text" formControlName="imageUrl" class="form-control" placeholder="Image Url"
    appUrl>
    <small
      *ngIf="fieldHasError('imageUrl', 'required')"
      class="form-text invalid-form-text"
    >
      Enter image Url!
    </small>
  </div>
  <h4>Type:</h4>
  <div class="form-check">
    <input class="form-check-input" formControlName="type" type="radio" id="Alcohol" value="Alcohol">
    <label class="form-check-label mr-5" for="Alcohol">
      Alcohol
    </label>
    <input class="form-check-input" formControlName="type" type="radio" id="Not alcohol" value="Not Alcohol">
    <label class="form-check-label" for="Not alcohol">
      Not alcohol
    </label>
    <small
      *ngIf="fieldHasError('type', 'required')"
      class="form-text invalid-form-text"
    >
      Check type!
    </small>
  </div>
  <div class="input-group my-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Description</span>
    </div>
    <input type="textarea" formControlName="description" class="form-control" placeholder="Description">
  </div>
  <div class="input-group my-3">
    <div class="input-group-prepend" formArrayName="ingredients">
      <span class="input-group-text">Ingredients</span>
    </div>
    <button type="button" (click)="addIngredient()" class="btn btn-primary">Add</button>
    <div class="input-group my-2" formArrayName="ingredients" *ngFor="let ing of getIngControls(); let i = index">
      <div [formGroupName]="i">
        <div class="input-group-prepend">
          <input class="form-control" type="text" formControlName="name" placeholder="Ing name">
          <small
            *ngIf="fieldIngError('name', 'required',i)"
            class="form-text invalid-form-text"
          >
            Fuel area!
          </small>
        </div>
        <div class="input-group-prepend">
          <input class="form-control" type="number" formControlName="amount" placeholder="amount">
          <small
            *ngIf="fieldIngError('amount', 'required',i)"
            class="form-text invalid-form-text"
          >
            Fuel area!
          </small>
        </div>
        <div class="input-group-prepend">
          <select class="custom-select" formControlName="type">
            <option value="ml">ml</option>
            <option value="gram">gram</option>
            <option value="piece">piece</option>
          </select>
          <small
            *ngIf="fieldIngError('type', 'required',i)"
            class="form-text invalid-form-text"
          >
            Fuel area!
          </small>
        </div>
        <button class="btn btn-danger" (click)="delete(i)">Delete</button>
      </div>

    </div>
  </div>
  <div class="input-group my-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Instruction</span>
    </div>
    <input type="textarea" formControlName="cookDescription" class="form-control" placeholder="Instruction">
    <small
      *ngIf="fieldHasError('cookDescription', 'required')"
      class="form-text invalid-form-text"
    >
      Enter instruction, how make your cocktail!
    </small>
  </div>
  <button type="submit" class="btn btn-primary"
          [disabled]="cocktailForm.invalid"
          *ngIf="!isFetching"
  >
    <span>Save</span>
    <span class="sr-only" *ngIf="isFetching">Loading...</span>
  </button>
</form>


