<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Cocktail Party</a>

  <div class="navbar-expand">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/new" class="nav-link">Create Cocktail</a>
      </li>
    </ul>
  </div>
</nav>
