<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>
<ng-container *ngIf="!isFetching">
    <app-coctail-block *ngFor="let cocktail of cocktails" [cocktail]="cocktail"></app-coctail-block>
</ng-container>
