<div class="modal show" [ngStyle]="{display: isOpen ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ cocktail.name }}</h5>
        <button type="button" class="close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="cocktail.imageUrl" class="card-img-top" style="width: 286px; height: 200px;"
             alt="{{ cocktail.name }}">
      </div>
      <div class="modal-content p-3">
        <p>Type: {{ cocktail.type }}</p>
        <p>Description: {{ cocktail.description }}</p>
        <p>Ingredients:</p>
        <div *ngFor="let ing of cocktail.ingredients">
          {{ ing.name }} : {{ ing.amount }} {{ ing.type }}
        </div>
        <p>Instruction: {{ cocktail.cookDescription }}</p>
      </div>
    </div>
  </div>
</div>
<div
  class="modal-backdrop show"
  [ngStyle]="{display: isOpen ? 'block' : 'none'}"
></div>
