<div class="card m-3" style="width: 18rem;display: inline-block;" (click)="openCheckoutModal()">
  <img [src]="cocktail.imageUrl" class="card-img-top" style="width: 286px; height: 200px;" alt="{{ cocktail.name }}">
  <div class="card-body">
    <h5>
      {{ cocktail.name }}
    </h5>
    <p class="card-text">Type: {{ cocktail.type }}</p>
  </div>
</div>
<app-modal
  [isOpen]="modalOpen"
  (close)="closeCheckoutModal()"
  [cocktail]="cocktail"
>
</app-modal>

